.InvoiceSummary{
    display:grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 30px 30px;
    padding: 24px;
    justify-content: end;
}

.totalLabel{
    color:#C11E29;
    font-weight: bold;
    font-size: 16px;
}

.total{
    color:#232323;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}

.paymentMethodLabel{
    color:#C11E29;
    font-weight: bold;
    font-size: 16px;
}

.paymentMethod{
    color:#232323;
    font-weight: bold;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    text-align: right;
    padding-top: 16px;
    padding-bottom: 0;
}

@media screen and (max-width:480px){
  .InvoiceSummary{
      justify-content: initial;
      padding: 16px;
  }

  .totalLabel{
      font-size: 14px;
  }

  .total{
      font-size: 14px;
  }

  .paymentMethodLabel{
      font-size: 14px;
  }

  .paymentMethod{
      color:#232323;
      font-weight: bold;
      font-size: 14px;
      background: none;
      outline: none;
      border: none;
      text-align: right;
      padding-top: 16px;
      padding-bottom: 0;
  }
}
