.App{
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 15% auto auto 15%;
  grid-row-gap:20px;
  grid-template-areas:
  '. . saveButtonContainer .'
  '. invoiceCard invoiceCard .';
}

.invoiceCard{
  height: 100%;
  grid-area:invoiceCard;
  padding: 0;
  margin-bottom: 16px;
}

.addButton{
  float:'right';
  margin-top:'24px';
  margin-bottom:'24px';
  right:'15%';
}

.saveButtonContainer{
  grid-area:saveButtonContainer;
  margin-top: 16px;
}

.saveButton{
  float:right;
}

@media screen and (max-width:1280px){
  .invoiceCard{
    height: 100%;
  }

  .App{
    grid-template-columns: 10% auto auto 10%;
  }
}


@media screen and (max-width:1080px){
  .invoiceCard{
    height: 100%;
  }

  .App{
    grid-template-columns: 5% auto auto 5%;
  }
}


@media screen and (max-width:900px){
  .invoiceCard{
    margin: 0px 0px;
    height: 100%;
  }

  .App{
    grid-template-columns: 0px auto auto 0px;
  }
}
